body {
  background-image: url(/backgroundweb.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  padding-top: 50px;
  font-size: 34pt;
  color: rgb(252, 252, 252);
  text-align: center;
  right: 0%;
  font-family: Arial, Helvetica;
  animation-name: slideright;
  animation-duration: 3s;
}
@keyframes slideright {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(0px);
  }
}
* {
  margin: 0px;
}
.backgroundcolour {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
.flip-card {
  width: 400px;
  height: 400px;
  perspective: 1000px;
  padding: 30px;

  display: inline-block;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
img {
  width: 400px;
  height: 400px;
  border-radius: 25%;
}

li {
  margin-right: 0%;
  display: inline-block;
  padding: top 20px;
}

a {
  font-size: xx-large;
  padding: 20px;
  text-decoration: unset;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

li:hover {
  background-color: gray;
  padding: 20px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {
    background-color: black;
  }
  20% {
    background-color: grey;
  }
  40% {
    background-color: black;
  }
  60% {
    background-color: grey;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: grey;
  }
}
p {
  padding: 10px;
}
nav {
  padding: 20px;
}
.footer {
  background-color: black;
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 30px;
}
