ul {
  background: black;
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

* {
  margin: 0%;
}
li {
  margin-right: 0%;
  display: inline-block;
  padding: top 20px;
}
li:hover {
  background-color: gray;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  padding: 20px;
}
@keyframes pulse {
  0% {
    background-color: black;
  }
  20% {
    background-color: grey;
  }
  40% {
    background-color: black;
  }
  60% {
    background-color: grey;
  }
  80% {
    background-color: black;
  }
  100% {
    background-color: grey;
  }
}

a {
  font-size: xx-large;
  padding: 20px;
  text-decoration: unset;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding-top: 130px;
  font-size: 34pt;
  color: rgb(252, 252, 252);
  text-align: center;
  right: 0%;
  font-family: Arial, Helvetica;
  animation-name: slideright;
  animation-duration: 3s;
}
@keyframes slideright {
  from {
    transform: translateX(800px);
  }
  to {
    transform: translateX(0px);
  }
}
h2 {
  font-size: 30pt;
}

form {
  padding-top: 113px;
  text-align: center;
  display: inline-block;
}

body {
  background-image: url(/backgroundweb.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

article {
  padding: 10px;
  width: 30%;
  background-color: #f1f1f1;
  height: 300px;
  float: right;
}
iframe {
  display: inline-block;
  background-color: blue;
}
img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  padding: 20px;
  /* animation-name: Slideup; */
  /* animation-duration: 3s; */
  animation-fill-mode: both;
  animation: Slideup 3s, glow 1.5s infinite;
}
@keyframes Slideup {
  from {
    transform: translateY(700px);
  }
  to {
    transform: translateY(0px);
  }
}
table {
  padding-top: 113px;
  width: 100%;
  background-color: whitesmoke;
}
.heading1 {
  text-align: left;
}
.discord {
  padding-top: 113px;
}
section {
  border: white;
  border-image-source: url(https://www.publicdomainpictures.net/pictures/260000/nahled/abstract-golden-brown-background.jpg);
  background-color: blue;
  animation-name: example;
  animation-duration: 4s;
}
.dark {
  background-color: black;
}
.image {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

p {
  text-align: center;
  background: rgba(144, 19, 254, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: whitesmoke;
  text-emphasis: inherit;
}
div.section {
  background-color: black;
}
.text-align {
  margin-right: 35%;
  margin-left: 35%;
  width: 60%;
  padding: 10px;
  align-items: center;
  align-content: center;
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
}
.Background-glass {
  background: rgba(253, 249, 253, 0.5);
  box-shadow: 0 8px 32px 0 rgba(8, 20, 179, 0.638);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 3px solid rgba(90, 3, 3, 0.18);
  padding: 50px;
}
input {
  width: 500px;
  height: 100px;
  background: rgba(5, 5, 119, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  font-size: 20pt;
}
textarea {
  width: 200px;
  background: rgba(5, 5, 119, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
h1 {
  margin: 0%;
}
label {
  font-size: 30pt;
}
button {
  margin: auto;
  width: 150px;
  height: 100px;
  padding: 10px;
  align-items: flex-start;
  align-content: flex-start;
  font-size: 20pt;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #0c126f;
  right: 100px;
  justify-content: left;
}
.button1:hover {
  background-color: #0c126f;
  color: white;
}
table {
  background-color: rgba(255, 255, 255, 0.18);
  border: 3px rgba(255, 255, 255, 0.18);
}
.footer {
  background-color: black;
  display: inline-block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  font-size: 30px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
.glow {
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes glow {
  from {
    background-color: rgb(192, 0, 209, 0.5);
  }
  to {
    background-color: rgb(192, 0, 209, 1);
  }
}
